In [1]:
import pandas as pd

In [52]:
id_df = pd.read_csv("pitcher_player_ids.csv")
info_df = pd.read_csv("statiz_2024_pitching.csv")
id_df
info_df

In [25]:
id_df

    name  player_id
0     하트      16065
1    윌커슨      12295
2    후라도      15531
3     반즈      15011
4     코너      15860
..   ...        ...
275  윤중현      13122
276   더거      16141
277  한승주      14621
278  이용찬      10217
279  김명신      12847

[280 rows x 2 columns]

In [26]:
info_df

,Rank,Name,Team,WAR,G,GS,GR,GF,CG,SHO,...,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,WAR.1,image_url,team
0,1,하트,24 P,6.93,26,26,0,0,0,0,...,2,2.69,2.92,2.92,3.00,3.10,1.03,6.93,https://statiz.sporki.com/data/team/ci/2024/11...,KT Wiz
1,2,윌커슨,24 P,6.81,32,32,0,1,1,1,...,3,3.84,4.12,4.06,3.91,3.62,1.21,6.81,https://statiz.sporki.com/data/team/ci/2024/30...,LG Twins
2,3,후라도,24 P,6.61,30,30,0,0,0,0,...,3,3.36,3.69,3.64,3.78,3.84,1.14,6.61,https://statiz.sporki.com/data/team/ci/2024/10...,Kiwoom Heroes
3,4,반즈,24 P,6.43,25,25,0,0,0,0,...,6,3.35,3.52,3.34,3.18,3.83,1.23,6.43,https://statiz.sporki.com/data/team/ci/2024/30...,LG Twins
4,5,코너,24 P,5.95,28,28,0,1,1,1,...,9,3.43,3.77,3.68,3.54,4.44,1.09,5.95,https://statiz.sporki.com/data/team/ci/2024/10...,Hanwha Eagles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,276,윤중현,24 P,-0.82,11,0,11,4,0,0,...,0,13.94,14.81,16.77,16.88,11.14,3.00,-0.82,https://statiz.sporki.com/data/team/ci/2024/20...,KIA Tigers
276,277,더거,24 P,-0.84,6,6,0,0,0,0,...,0,12.71,13.10,13.10,12.80,5.04,2.07,-0.84,https://statiz.sporki.com/data/team/ci/2024/90...,SSG Landers
277,278,한승주,24 P,-0.95,18,0,18,6,0,0,...,1,11.45,12.68,12.33,12.50,5.52,2.50,-0.95,https://statiz.sporki.com/data/team/ci/2024/70...,Samsung Lions
278,279,이용찬,24 P,-1.14,57,0,57,36,0,0,...,6,6.13,7.95,7.70,8.00,4.57,1.90,-1.14,https://statiz.sporki.com/data/team/ci/2024/11...,KT Wiz
279,280,김명신,24 P,-1.42,35,0,35,5,0,0,...,1,9.37,9.37,10.61,11.17,6.15,2.17,-1.42,https://statiz.sporki.com/data/team/ci/2024/60...,NC Dinos

In [19]:
# # 첫 번째 행을 컬럼으로 지정
# info_df.columns = info_df.iloc[0]

# # 본문에서 첫 행 제거
# info_df = info_df.drop(index=0).reset_index(drop=True)

In [27]:
info_df["player_id"] = id_df["player_id"]

In [28]:
info_df

,Rank,Name,Team,WAR,G,GS,GR,GF,CG,SHO,...,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,WAR.1,image_url,team,player_id
0,1,하트,24 P,6.93,26,26,0,0,0,0,...,2.69,2.92,2.92,3.00,3.10,1.03,6.93,https://statiz.sporki.com/data/team/ci/2024/11...,KT Wiz,16065
1,2,윌커슨,24 P,6.81,32,32,0,1,1,1,...,3.84,4.12,4.06,3.91,3.62,1.21,6.81,https://statiz.sporki.com/data/team/ci/2024/30...,LG Twins,12295
2,3,후라도,24 P,6.61,30,30,0,0,0,0,...,3.36,3.69,3.64,3.78,3.84,1.14,6.61,https://statiz.sporki.com/data/team/ci/2024/10...,Kiwoom Heroes,15531
3,4,반즈,24 P,6.43,25,25,0,0,0,0,...,3.35,3.52,3.34,3.18,3.83,1.23,6.43,https://statiz.sporki.com/data/team/ci/2024/30...,LG Twins,15011
4,5,코너,24 P,5.95,28,28,0,1,1,1,...,3.43,3.77,3.68,3.54,4.44,1.09,5.95,https://statiz.sporki.com/data/team/ci/2024/10...,Hanwha Eagles,15860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,276,윤중현,24 P,-0.82,11,0,11,4,0,0,...,13.94,14.81,16.77,16.88,11.14,3.00,-0.82,https://statiz.sporki.com/data/team/ci/2024/20...,KIA Tigers,13122
276,277,더거,24 P,-0.84,6,6,0,0,0,0,...,12.71,13.10,13.10,12.80,5.04,2.07,-0.84,https://statiz.sporki.com/data/team/ci/2024/90...,SSG Landers,16141
277,278,한승주,24 P,-0.95,18,0,18,6,0,0,...,11.45,12.68,12.33,12.50,5.52,2.50,-0.95,https://statiz.sporki.com/data/team/ci/2024/70...,Samsung Lions,14621
278,279,이용찬,24 P,-1.14,57,0,57,36,0,0,...,6.13,7.95,7.70,8.00,4.57,1.90,-1.14,https://statiz.sporki.com/data/team/ci/2024/11...,KT Wiz,10217
279,280,김명신,24 P,-1.42,35,0,35,5,0,0,...,9.37,9.37,10.61,11.17,6.15,2.17,-1.42,https://statiz.sporki.com/data/team/ci/2024/60...,NC Dinos,12847

In [29]:
info_df.to_csv("./Dataset/pitcher-info.csv")

## 데이터 병합 : 기본 + 심화 + 좌우 정보

In [33]:
info_b = pd.read_csv("./Dataset/batter-info.csv")
info_p = pd.read_csv("./Dataset/pitcher-info.csv")

type_b = pd.read_csv("./Dataset/batter_batting_type.csv")
type_p = pd.read_csv("./Dataset/pitcher_pitch_type.csv")

stat_b = pd.read_csv("./Dataset/statiz_2024_batting_deepen.csv")
stat_p = pd.read_csv("./Dataset/statiz_2024_pitching_deepen.csv")

In [170]:
print(info_b.shape, type_b.shape, stat_b.shape)
print(info_p.shape, type_p.shape, stat_p.shape)

(262, 38) (262, 2) (262, 15)
(280, 42) (280, 2) (280, 33)

In [45]:
info_b['play_type'] = type_b['pitch_type']
merged_df = pd.merge(info_b, stat_b, on=["Name", "wRC+"], how="inner")
print(merged_df.shape)

In [57]:
info_p['play_type'] = type_p['pitch_type']
merged_df = pd.merge(info_p, stat_p, on=["Name", "G"], how="inner")
print(merged_df.shape)

#merged_df.to_csv("Pitcher Feature.csv")

In [63]:
merged_df.to_csv("Pitcher Feature.csv")

## 투수, 타자 공통으로 갖고 있는 10개의 Feature 만 추출해서 Preprocessed_Feature 추출

In [148]:
pitcher = pd.read_csv("./Final Dataset/Pitcher Feature.csv")
batter = pd.read_csv("./Final Dataset/Batter Feature.csv")
edge = pd.read_csv("./Final Dataset/Edge Feature.csv")

In [149]:
pitcher.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Rank_x', 'Name', 'Team_x', 'WAR', 'G',
       'GS', 'GR', 'GF', 'CG', 'SHO', 'W', 'L', 'S', 'HD', 'IP', 'ER', 'R',
       'rRA', 'TBF', 'H', '2B', '3B', 'HR', 'BB', 'HP', 'IB', 'SO', 'ROE',
       'BK', 'WP', 'ERA_x', 'RA9_x', 'rRA9_x', 'rRA9pf_x', 'FIP_x', 'WHIP',
       'WAR.1', 'image_url', 'team', 'player_id', 'play_type', 'Rank_y',
       'Team_y', 'FIP_y', 'K/9', 'BB/9', 'K/BB', 'HR/9', 'K%', 'BB%', 'K-BB%',
       'BABIP', 'LOB', 'ERA_y', 'RA9_y', 'rRA9_y', 'rRA9pf_y', 'FIP_y.1',
       'xFIP', 'kwERA', 'ERA-FIP', 'ERA-', 'rRA9-', 'FIP-', 'AVG', 'OBP',
       'SLG', 'OPS', 'NP', 'P/G', 'P/IP', 'P/PA'],
      dtype='object')

In [172]:
batter

,Unnamed: 0.1,Unnamed: 0,Rank_x,Name,Team_x,Sort▼,G,oWAR,dWAR,PA,...,BB%,BB/K,BABIP,IsoP,IsoD,R/ePA_y,wOBA,wRC,RC27,Own%
0,0,0,1,김도영,24 3B,8.32,141,8.51,-0.18,625,...,10.6,0.60,0.375,0.300,0.073,0.232,0.457,144.9,10.38,48.2
1,1,1,2,로하스,24 RF,6.50,144,6.34,0.16,670,...,13.1,0.77,0.364,0.239,0.092,0.211,0.434,141.2,9.55,44.1
2,2,2,3,송성문,24 3B,6.13,142,5.83,0.29,602,...,10.6,0.78,0.369,0.178,0.069,0.191,0.412,114.9,8.59,39.0
3,3,3,4,구자욱,24 LF,5.69,129,5.61,0.08,568,...,9.7,0.75,0.346,0.284,0.074,0.228,0.452,128.3,10.13,47.0
4,4,4,5,김혜성,24 2B,5.16,127,4.47,0.69,567,...,8.3,0.76,0.351,0.132,0.057,0.160,0.379,90.7,6.76,28.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,257,257,258,임지열,24 RF,-0.87,22,-0.59,-0.28,57,...,12.3,0.44,0.121,0.061,0.109,-0.011,0.194,-0.6,-0.36,0.1
258,258,258,259,안주형,24 2B,-0.92,82,-0.57,-0.35,166,...,6.6,0.28,0.301,0.014,0.061,0.041,0.249,6.7,1.42,1.7
259,259,259,260,김인환,24 LF,-0.99,51,-0.58,-0.41,143,...,7.0,0.31,0.306,0.038,0.064,0.066,0.277,9.4,2.42,4.8
260,260,260,261,이재상,24 SS,-1.04,36,-0.55,-0.49,89,...,2.2,0.06,0.300,0.048,0.037,0.013,0.219,1.1,0.44,0.2
261,261,261,262,전의산,24 1B,-1.35,34,-1.09,-0.26,63,...,7.9,0.33,0.095,0.052,0.071,-0.051,0.150,-3.2,-1.52,2.0

In [150]:
p_pitcher = pitcher[['player_id', 'Name', 'play_type', 'team', 'TBF', 'AVG', 'OBP', 'SLG', 'K%', 'BB%']]

In [151]:
p_pitcher

,player_id,Name,play_type,team,TBF,AVG,OBP,SLG,K%,BB%
0,16065,하트,좌투좌타,KT Wiz,631,0.215,0.275,0.303,28.8,6.0
1,12295,윌커슨,우투우타,LG Twins,816,0.270,0.294,0.394,20.5,3.3
2,15531,후라도,우투우타,Kiwoom Heroes,779,0.254,0.293,0.381,21.7,4.1
3,15011,반즈,좌투좌타,LG Twins,624,0.248,0.309,0.388,27.4,7.4
4,15860,코너,우투우타,Hanwha Eagles,663,0.226,0.293,0.370,23.8,6.0
...,...,...,...,...,...,...,...,...,...,...
275,13122,윤중현,우언우타,KIA Tigers,62,0.458,0.548,0.792,6.5,14.5
276,16141,더거,우투우타,SSG Landers,116,0.366,0.431,0.554,15.5,8.6
277,14621,한승주,우투우타,Samsung Lions,120,0.433,0.492,0.567,11.7,8.3
278,10217,이용찬,우투우타,KT Wiz,262,0.353,0.409,0.543,18.7,8.0
279,12847,김명신,우투우타,NC Dinos,168,0.409,0.440,0.610,14.9,4.8

In [152]:
batter.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Rank_x', 'Name', 'Team_x', 'Sort▼', 'G',
       'oWAR', 'dWAR', 'PA', 'ePA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'TB',
       'RBI', 'SB', 'CS', 'BB', 'HP', 'IB', 'SO', 'GDP', 'SH', 'SF', 'AVG',
       'OBP', 'SLG', 'OPS', 'R/ePA_x', 'wRC+', 'WAR▼', 'image_url', 'team',
       'player_id', 'play_type', 'Rank_y', 'Team_y', 'K%', 'BB%', 'BB/K',
       'BABIP', 'IsoP', 'IsoD', 'R/ePA_y', 'wOBA', 'wRC', 'RC27', 'Own%'],
      dtype='object')

In [153]:
p_batter = batter[['player_id', 'Name', 'play_type', 'team', 'PA', 'AVG', 'OBP', 'SLG', 'K%', 'BB%']]

In [154]:
p_batter

,player_id,Name,play_type,team,PA,AVG,OBP,SLG,K%,BB%
0,15056,김도영,우투우타,KIA Tigers,625,0.347,0.420,0.647,17.6,10.6
1,12995,로하스,우투양타,Doosan Bears,670,0.329,0.421,0.568,17.2,13.1
2,11376,송성문,우투좌타,Kiwoom Heroes,602,0.340,0.409,0.518,13.6,10.6
3,10892,구자욱,우투좌타,Hanwha Eagles,568,0.343,0.417,0.627,12.9,9.7
4,12905,김혜성,우투좌타,Kiwoom Heroes,567,0.326,0.383,0.458,10.9,8.3
...,...,...,...,...,...,...,...,...,...,...
257,11225,임지열,우투우타,Kiwoom Heroes,57,0.102,0.211,0.163,28.1,12.3
258,12988,안주형,우투좌타,Hanwha Eagles,166,0.218,0.279,0.232,23.5,6.6
259,12589,김인환,우투좌타,Samsung Lions,143,0.237,0.301,0.275,22.4,7.0
260,16124,이재상,우투우타,Kiwoom Heroes,89,0.190,0.227,0.238,37.1,2.2
261,14699,전의산,우투좌타,SSG Landers,63,0.088,0.159,0.140,23.8,7.9

In [155]:
# 새로운 컬럼 추가: 'bat_side'
def get_bat_side(play_type):
    if "우타" in play_type:
        return "Right"
    elif "좌타" in play_type:
        return "Left"
    elif "양타" in play_type:
        return "Both"
    else:
        return "Unknown"

def get_pit_side(play_type):
    if "우투" in play_type:
        return "Right"
    elif "우언" in play_type:
        return "Right"

    elif "좌투" in play_type:
        return "Left"
    elif "좌언" in play_type:
        return "Left"
    
    elif "양투" in play_type:
        return "Both"
        
    else:
        return "Unknown"

p_batter["Bat_side"] = p_batter["play_type"].apply(get_bat_side)
p_pitcher["Pit_side"] = p_pitcher["play_type"].apply(get_pit_side)

/tmp/ipykernel_52176/2271644445.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_batter["Bat_side"] = p_batter["play_type"].apply(get_bat_side)
/tmp/ipykernel_52176/2271644445.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_pitcher["Pit_side"] = p_pitcher["play_type"].apply(get_pit_side)

In [156]:
p_batter = p_batter.rename(columns={
    "player_id": "ID",
    "team": "Team"
})

p_pitcher = p_pitcher.rename(columns={
    "player_id": "ID",
    "team": "Team"
})

In [157]:
p_pitcher.isnull().sum()

ID           0
Name         0
play_type    0
Team         0
TBF          0
AVG          0
OBP          0
SLG          0
K%           0
BB%          0
Pit_side     0
dtype: int64

In [158]:
p_batter = p_batter.drop(columns=['play_type'])
p_pitcher = p_pitcher.drop(columns=['play_type'])

In [159]:
p_pitcher.to_csv("./Final Dataset/Preprocessed_Pitcher_Feature.csv")

In [160]:
p_batter.to_csv("./Final Dataset/Preprocessed_Batter_Feature.csv")

In [161]:
p_pitcher

        ID Name           Team  TBF    AVG    OBP    SLG    K%   BB% Pit_side
0    16065   하트         KT Wiz  631  0.215  0.275  0.303  28.8   6.0     Left
1    12295  윌커슨       LG Twins  816  0.270  0.294  0.394  20.5   3.3    Right
2    15531  후라도  Kiwoom Heroes  779  0.254  0.293  0.381  21.7   4.1    Right
3    15011   반즈       LG Twins  624  0.248  0.309  0.388  27.4   7.4     Left
4    15860   코너  Hanwha Eagles  663  0.226  0.293  0.370  23.8   6.0    Right
..     ...  ...            ...  ...    ...    ...    ...   ...   ...      ...
275  13122  윤중현     KIA Tigers   62  0.458  0.548  0.792   6.5  14.5    Right
276  16141   더거    SSG Landers  116  0.366  0.431  0.554  15.5   8.6    Right
277  14621  한승주  Samsung Lions  120  0.433  0.492  0.567  11.7   8.3    Right
278  10217  이용찬         KT Wiz  262  0.353  0.409  0.543  18.7   8.0    Right
279  12847  김명신       NC Dinos  168  0.409  0.440  0.610  14.9   4.8    Right

[280 rows x 10 columns]

In [162]:
p_pitcher[p_pitcher.isnull().any(axis=1)]

Empty DataFrame
Columns: [ID, Name, Team, TBF, AVG, OBP, SLG, K%, BB%, Pit_side]
Index: []

## Edge 도 Simple 하게 필요한 것만 추출

In [164]:
edge

,Pitcher_id,Batter_id,PA,ePA,AB,R,H,2B,3B,HR,...,SH,SF,AVG,OBP,SLG,OPS,NP,avLI,RE24,WPA
0,16065,10106,12,12,11,0,0,0,0,0,...,0,0,0.000,0.083,0.000,0.083,37,0.86,0.98,0.268
1,16065,16128,13,13,11,0,0,0,0,0,...,0,0,0.000,0.154,0.000,0.154,55,0.82,3.94,0.244
2,16065,14591,12,12,11,0,1,0,0,0,...,0,0,0.091,0.167,0.091,0.258,42,0.81,0.64,0.229
3,16065,11087,8,8,8,0,1,1,0,0,...,0,0,0.125,0.125,0.250,0.375,23,1.10,0.84,0.204
4,16065,10232,5,5,5,0,1,1,0,0,...,0,0,0.200,0.200,0.400,0.600,18,2.01,1.37,0.197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8823,10427,10707,1,0,0,1,0,0,0,0,...,1,0,NaN,NaN,NaN,NaN,3,2.68,-1.43,-0.260
8824,10427,14783,1,1,1,1,0,0,0,0,...,0,0,0.000,0.000,0.000,0.000,6,0.98,-0.87,-0.278
8825,10427,14612,2,2,2,1,2,0,0,0,...,0,0,1.000,1.000,1.000,2.000,14,2.23,-1.16,-0.292
8826,10427,11213,6,6,5,1,1,0,0,1,...,0,0,0.200,0.333,0.800,1.133,25,1.66,-1.03,-0.322
8827,10427,14137,2,2,2,2,2,1,0,1,...,0,0,1.000,1.000,3.000,4.000,7,1.91,-2.00,-0.472

In [168]:
preprocessed_edge = edge[['Pitcher_id', 'Batter_id', 'PA', 'AVG']]

In [169]:
preprocessed_edge.to_csv("./Dataset/Preprocessed_Edge.csv")

In [1]:
import pandas as pd


b = pd.read_csv("/data/yhyunjun/KBO/Final Dataset/Batter Feature.csv")
pb = pd.read_csv("/data/yhyunjun/KBO/Final Dataset/Preprocessed_Batter_Feature.csv")
p = pd.read_csv("/data/yhyunjun/KBO/Final Dataset/Pitcher Feature.csv")
pp = pd.read_csv("/data/yhyunjun/KBO/Final Dataset/Preprocessed_Pitcher_Feature.csv")

In [3]:
b['ID'] = pb['ID']
p['ID'] = pp['ID']

In [8]:
pb

,Unnamed: 0,ID,Name,Team,PA,AVG,OBP,SLG,K%,BB%,Bat_side
0,0,15056,김도영,KIA Tigers,625,0.347,0.420,0.647,17.6,10.6,Right
1,1,12995,로하스,Doosan Bears,670,0.329,0.421,0.568,17.2,13.1,Both
2,2,11376,송성문,Kiwoom Heroes,602,0.340,0.409,0.518,13.6,10.6,Left
3,3,10892,구자욱,Hanwha Eagles,568,0.343,0.417,0.627,12.9,9.7,Left
4,4,12905,김혜성,Kiwoom Heroes,567,0.326,0.383,0.458,10.9,8.3,Left
...,...,...,...,...,...,...,...,...,...,...,...
257,257,11225,임지열,Kiwoom Heroes,57,0.102,0.211,0.163,28.1,12.3,Right
258,258,12988,안주형,Hanwha Eagles,166,0.218,0.279,0.232,23.5,6.6,Left
259,259,12589,김인환,Samsung Lions,143,0.237,0.301,0.275,22.4,7.0,Left
260,260,16124,이재상,Kiwoom Heroes,89,0.190,0.227,0.238,37.1,2.2,Right
261,261,14699,전의산,SSG Landers,63,0.088,0.159,0.140,23.8,7.9,Left

In [9]:
p['Pit_side'] = pp['Pit_side']
b['Bat_side'] = pb['Bat_side']

In [6]:
b.to_csv("/data/yhyunjun/KBO/Final Dataset/Batter Feature.csv")
p.to_csv("/data/yhyunjun/KBO/Final Dataset/Pitcher Feature.csv")